/* Give your page a fun background color */
html {
    background-color: darkgreen;
    background-size: cover;
    margin:0%;
    border: 0%;
    padding: 0%;

}

/* Make the header and footer a different color from the background */
header {
    background-color: white;
    background-size: cover;
    background-origin: border-box;
    padding-top: 2px;
}
footer {
    background-color: white;
    background-size: cover;
    padding-bottom: 1%;
    margin: 0%;
}
p {
    background-color: white;
    background-size: cover;
    padding-top: 1%;
    margin: 0%;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: goldenrod;
    font-style: italic;
}
/* Put a border around your image */
div {
    border-color: rgb(56, 218, 56);
    border-style: dashed;
}
/* Change the font-family of your list */